.entire{
  background: url('https://t3.ftcdn.net/jpg/03/30/49/72/360_F_330497250_ZzWZ6qrLWJ973kgTLI2foKjDoLBtIPbi.jpg') center/100% 100% no-repeat;
	height: 100vh;
}
.logmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.admin.login {
  
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 
}

.admin.form {
  display: flex;
  flex-direction: column;
  align-items: center;
 border-radius: 30px;
 background: transparent;

}

label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding:50px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 250px;
}

.logbut {
  background-color: white;
  color: black;
  border: none;
  width:100%;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 50%;
}

.logbut:hover {
  background-color:gray;
}

