.scard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 200px; /* Adjust width as needed */
    display: inline-block;
    text-align: center;
  }
  
  .scard img {
    width: 100%; /* Make sure the image fills the card */
    border-radius: 5px;
  }
  
  .scard p {
    margin-top: 10px;
  }